{% extends 'base.html.twig' %}

{% block title %}Page 2{% endblock %}

{% block body %}
    <div id="page2-root"></div>
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        ReactDOM.render(<Page2/>, document.getElementById('page2-root'));
    </script>
{% endblock %}



{#<script#}
{#        src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"#}
{#        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="#}
{#        crossorigin="anonymous"#}
{#        referrerpolicy="no-referrer"#}
{#></script>#}




{#<ul>#}
{#    <li>Your controller at <code><a href="{{ 'E:/praktyka_projekt/NewWebApp/src/Controller/Page2Controller.php'|file_link(0) }}">src/Controller/Page2Controller.php</a></code></li>#}
{#    <li>Your template at <code><a href="{{ 'E:/praktyka_projekt/NewWebApp/templates/page2/index.html.twig'|file_link(0) }}">templates/page2/index.html.twig</a></code></li>#}
{#</ul>#}