{% extends 'base.html.twig' %}

{% block title %}Page 2{% endblock %}

{% block body %}
    <div id="page2-root"></div>
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        ReactDOM.render(<Page2/>, document.getElementById('page2-root'));
    </script>
{% endblock %}
